<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
<link rel="stylesheet" href="https://newcss.net/theme/night.css"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rahul Tuladhar</title>
</head>
<body>
    <header>
        <h1>Rahul Tuladhar</h1>
        <nav>
            <a href="https://rahultuladhar.com">Home</a> /
            <a href="https://drive.google.com/file/d/1MmkQo_b7R1BuFZ1y1WcrQMY3sAIR7eFL/view?usp=sharing">Resume</a> /
            <a href="https://github.com/rahul-tuladhar">GitHub</a> / 
            <a href="https://linkedin.com/in/rahul-tuladhar">Linkedin</a>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>
